body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

h1 {
    color: #343a40;
}

.navbar {
    margin-bottom: 30px;
}

.card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    border: none;
    border-radius: 10px;
}

.card-header {
    background-color: #007bff;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}